<div class="mb-4">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end ">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
                @if (auth.isUserAutenticated) {
                <button mat-button style="color: var(--secondary-color);">Welcome {{username}}</button>
                <button mat-button style="color: var(--secondary-color);" (click)="logout()">Logout</button>
                }
                @if (!auth.isUserAutenticated) {
                <button mat-button routerLink="/register" style="color: var(--secondary-color);">Register</button>
                <button mat-button routerLink="/login" style="color: var(--secondary-color);">Login</button>
                }
            </div>
        </div>
    </nav>
</div>